<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Covidqna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="topics">Topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="getinspired">Get Inspired</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gethelp">Get Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutus">About us</a>
        </li>
      </ul>
    </div>
  </nav>