<div class="container">
    <br>
    <div class="row row-cols-1 row-cols-md-2">
        <div *ngFor="let x of topics; let idx = index">
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{x.title}}</h5>
                        <p class="card-text">
                            <a routerLink="/topics/{{idx}}">
                                Explore
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>